# ########## GENERAL ########## #

# IntelliJ
.idea
*.iml
out
gen

# Runtime data
pids
*.pid
*.seed

# Logs
logs
*.log

# ########## OS ########## #

# macOS
.DS_store

# ########## PACKAGES ########## #

# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# dotenv
.env

# webpack
stats.json
webpackRecords.json

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# ########## MISC. ########## #

# dist folder
dist

# data
/server/db/mysql-cfg.json

# tests
tests/no-commit
server/tests/no-commit