#world-travel-map {
    position: relative;
    display: flex;
    justify-content: center;
    height: 30em;
    background-color: #B3E5FC;  /* Light Blue 100 */
    overflow: hidden;
}

#world-travel-map > svg {
    position: absolute;
}

/* TESTING UNIT - TO DELETE */

#world-travel-map-test {
    position: fixed;
    top: 0; left: 0;
    user-select: none;
}