#world-travel-map {
    display: flex;
    justify-content: center;
    background-color: #B3E5FC;  /* Light Blue 100 */
    overflow: hidden;
}

#world-travel-map > svg {
    position: relative;
    border: 1px solid #212121;
    height: 90vh;
}

#world-travel-map-test {
    position: fixed;
    user-select: none;
}