#world-travel-map {
    display: flex;
    justify-content: center;
}

#world-travel-map > svg {
    border: 1px solid #212121;
    height: 720px;
}

#world-travel-map-test {
    position: fixed;
    user-select: none;
}