/** ********** APP GENERICS ********** **/

.img-link-container {
    display: flex;
    justify-content: center;
}

.img-link-container a {
    display: block;
}

.img-link-container img {
    display: block;
}

/** ********** APP BACKGROUND ********** **/

#app-bkg {
    display: flex;
    justify-content: center;

    min-height: 100vh;
    padding: 1rem;
}

#app-bkg > * {
    max-width: 1280px;
}
