/* ********** GENERAL ********** */

* {
    /* Make padding and border included in the total width and height of elements */
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Gentium Basic', serif;
}

a {
    color: #03A9F4;  /* Light Blue 500 */
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

hr {
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fff1e5, #212121, #fff1e5);
}

sup {
    font-size: .5rem;
    font-weight: 700;
}

/* ********** HELPERS ********** */

.hidden { display: none; }
.hidden-vis { visibility: hidden; }
.hidden-op { opacity: 0; }
.shown-op { opacity: 1; }
.hidden-vis-op { visibility: hidden; opacity: 0; }

.block { display: block; }
.inline-block { display: inline-block; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.width-0 { width: 0; }
.width-100p { width: 100%; }
.min-width-100p { min-width: 100%; }

/* ********** RESPONSIVE WEB DESIGN ********** */

#root {
    /* Nothing will go below 320px wide */
    min-width: 320px;
    width: 100vw;

    /* Potential stylings as needed */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff1e5;
}

/* Texts won't go larger than body font size */
@media only screen and (max-width: 1280px) and (min-width: 854px) {
    html {
        /*font-size: 1.875vw;  !* 1.875% = 24px (body font size) / 1280px (limit width) *!*/
    }
}

/* Texts won't go smaller than this */
@media only screen and (max-width: 639px) {
    html {
        font-size: 20px;  /* 512px is the cut-off when our font stops shrinking. 853 = 16px / 1.875% */
    }
}
