.navbar-main {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    /* Menu button shown on the right by default (small screen) */
    justify-content: flex-end;

    width: 100%;

    background-color: #212121;
}

/* ********** NAVBAR ********** */

.navbar-main-ul {
    /* Not shown by default (small screen) */
    display: none;

    margin: 0;
    width: 100%;
    padding: 1rem 0;

    list-style-type: none;
}

/* Make all navbar buttons have equal distance apart */
.navbar-main-li {
    flex: 1 1 0;

    margin: 0 1rem;
}

.navbar-main-li-a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 1.5rem;
    color: #fafafa;
    text-decoration: none;
}

.navbar-main-li-a.active {
    text-decoration: underline;
}

/* ********** MENU BUTTON ********** */

.navbar-main-menubtn {
    display: flex;
}

.navbar-main-menubtn * {
    font-size: 1.5rem;
}

/* ********** MEDIA QUERIES ********** */

/* Hide menu button and show navbar when screen is large */
@media only screen and (min-width: 640px) {
    .navbar-main {
        justify-content: center;
    }

    .navbar-main-ul {
        display: flex;
    }

    .navbar-main-menubtn {
        display: none;
    }
}
