.navbar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    /* Menu button shown on the right by default (small screen) */
    justify-content: flex-end;

    width: 100%;

    background-color: #212121;
}

/* ********** TOP NAVBAR ********** */

.navbar-ul-top {
    /* Not shown by default (small screen) */
    display: none;

    margin: 0;
    width: 100%;
    padding: 1rem 0;

    list-style-type: none;
}

/* Make all navbar buttons have equal distance apart */
.navbar-li {
    flex: 1 1 0;

    margin: 0 1rem;
}

.navbar-li-a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 1.5rem;
    color: #fafafa;
    text-decoration: none;
}

.navbar-li-a.active {
    text-decoration: underline;
}

/* ********** MENU BUTTON ********** */

.navbar-menubtn {
    display: flex;
}

.navbar-menubtn * {
    font-size: 1.5rem;
}

/* ********** SIDE NAV BAR ********** */
/* The side navbar is only shown when:
   - Screen size is small
   - Menu button is toggled

   Upon toggle, the side navbar flies in from and flies out to the right side of
   the screen.
  */

.navbar-ul-side {
    position: fixed;
    top: 0;
    right: -50%;
    z-index: -1;

    display: flex;
    justify-content: flex-end;
    flex-flow: column;

    margin: 0;
    width: 50%;
    height: 100%;
    /* This padding is exactly the same as #app-content's padding. This allows
       the side navbar's content to start at the same position as #app-content.
    */
    padding: 5rem 1rem 1rem 1rem;

    background-color: #212121;
    text-align: right;
    list-style-type: none;
}

/* When the side navbar is collapsed, its expanding animation should start out
   at full speed and finish slowly i.e. ease-out.
   Timing function is per material design's decelerate easing:
   https://material.io/design/motion/speed.html#easing
    */
.navbar-ul-side.expanded {
    transform: translate(-50vw, 0);

    transition: transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1);;
}

/* When the side navbar is expanded, its collapsing animation should start out
   slowly and finish at full speed i.e. ease-in.
   Timing function is per material design's accelerate easing:
   https://material.io/design/motion/speed.html#easing
    */
.navbar-ul-side.collapsed {
    transition: transform 200ms cubic-bezier(0.4, 0.0, 1, 1);
}

/* ********** MEDIA QUERIES ********** */

/* Hide menu button and side navbar and show top navbar when screen is large */
@media only screen and (min-width: 640px) {
    /* Need to reset navbar container's content justification to center because
       this is set to flex-end for small screen so the menu button appear on the
        right side of the screen. */
    .navbar {
        justify-content: center;
    }

    /* This shows the top navbar */
    .navbar-ul-top {
        display: flex;
    }

    /* This hides the menu button and the side navbar */
    .navbar-menubtn, .navbar-ul-side {
        display: none;
    }
}
