/** ********* OVERALL CANVAS ********* **/

#header-canvas {
    display: flex;
    justify-content: center;
}

#header-container {
    display: flex;
    justify-content: center;

    margin: 10px;
    width: 768px;
    border-bottom: 2px solid #212121;
}

/** ********* HEADER CONTENT ********* **/

.navs-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 5px 15px 5px 15px;
}

.navs-section:first-child {  /* This targets the section containing our title */
    flex-grow: 1;
}

/** ********* NAV BUTTONS ********* **/

.nav-btn-link {  /* This is the <a> element that wraps around each .nav-btn */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0 10px 0 10px;
    padding: 5px;

    color: #212121;

    user-select: none;
}

.nav-btn-link.active {
    color: #43A047;  /* Green 600 */
}

/* This hides the shorter version of a link (default behaviour)
   This is used in conjunction with the Responsive Web Design rules below */
.nav-btn-content:last-child { display: none; }

/** ********* RESPONSIVE WEB DESIGN ********* **/

@media only screen and (max-width: 580px) {  /* 580px is roughly when 'binh nguyen' becomes 2 lines */
    .navs-section {
        padding-left: 0;
        padding-right: 0;
    }

    .navs-section:first-child {
        flex-grow: 1;
    }

    .navs-section:last-child {
        flex-grow: 4;
    }

    .navs-section:last-child > * {
        flex-grow: 1
    }

    /* The below .nav-btn-content rules replace our longer, more verbose link with the shorter version */
    .nav-btn-content:first-child { display: none; }
    .nav-btn-content:last-child { display: inline; }
}