/** ********** HOME CANVAS ********** **/

#home-canvas {

}

/** ********** HOME INTRO ********** **/

#home-intro {
    margin: 10px 0 10px 0;

    /*font-size: 1.5em;*/

    /*text-align: justify;*/
}

#home-intro-s-1 {
    font-size: 1.25em;

    color: #43A047;  /* Green 600 */
}