/* ********** INDEX (LANDING) PAGE ********** */

#index-container {
    display: flex;
    justify-content: center;
    flex-flow: column;

    min-height: 100vh;
}

/* ********** HEADER COMPONENT ********** */

#index-header {
    display: flex;
    justify-content: center;
    flex-flow: column;

    padding: 2em;

    background-color: #212121;  /* Grey 900 */
}

#index-header h1 {
    margin: .5em 0 0 0;
    font-size: 2em;
    text-align: center;
    color: #fafafa;  /* Grey 50 */
}

/* ********** BODY COMPONENT ********** */

#index-body {
    flex-grow: 1;

    display: flex;
    flex-flow: column;

    padding: 2em 0 2em 0;

    background-color: #EEEEEE;  /* Grey 200 */
}

#index-body > * {  /* Apply to all body components */
    padding: .75em;
}

/* ********** BODY COMPONENT - DIVIDER ROW ********** */

.divider-row {
    text-align: center;
    user-select: none;
}

/* ********** BODY COMPONENT - ICON ROW ********** */

.icon-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.icon-row > * {
    margin: 1em;
}

/* ********** BODY COMPONENT - TERMINAL ********** */

#terminal {
    display: flex;
    justify-content: center;
}

#terminal-input-wrapper {
    flex-grow: 1;
    max-width: 768px;
}

#terminal-input {
    width: 100%;
    padding: .25em;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}