/* ********** INDEX (LANDING) PAGE ********** */

#index-container {
    display: flex;
    justify-content: center;
    flex-flow: column;

    min-height: 100vh;
}

/* ********** HEADER COMPONENT ********** */

#index-header {
    display: flex;
    justify-content: center;
    flex-flow: column;

    padding: 2em;

    background-color: #212121;  /* Grey 900 */
}

#index-header h1 {
    margin: .5em 0 0 0;
    font-size: 2em;
    text-align: center;
    color: #fafafa;  /* Grey 50 */
}

/* ********** BODY COMPONENT ********** */

#index-body {
    flex-grow: 1;

    display: flex;
    flex-flow: column;

    padding: 1em 0 1em 0;

    background-color: #EEEEEE;  /* Grey 200 */
}

#index-body > * {  /* Apply to all body components */
    margin: 1em 0 1em 0;
    padding: .5em;
}

.index-body-wrapper {  /* Limits components to 768px wide. To center please put under a flex container */
    flex-grow: 1;
    max-width: 768px;
    text-align: center;
}

/* ********** BODY COMPONENT - DIVIDER ROW ********** */

.divider-row {
    text-align: center;
    user-select: none;
}

/* ********** BODY COMPONENT - ICON ROW ********** */

.icon-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.icon-row > * {  /* Apply to the <a> tags that surround the actual icons */
    margin: 1em;
    border: .1em solid rgba(0, 0, 0, 0);
    padding-bottom: .5em;
    transition: border-bottom-color .15s;
}

/* These show color-coded underlines for the icon links */
/* Currently hard-coded for efficiency */
.icon-row > .twitter:hover { border-bottom-color: #1DA1F2 }
.icon-row > .github:hover { border-bottom-color: #181717 }
.icon-row > .instagram:hover { border-bottom-color: #E4405F }
.icon-row > .facebook:hover { border-bottom-color: #3B5998 }

/* ********** BODY COMPONENT - TERMINAL ********** */

#terminal {
    display: flex;
    justify-content: center;

    padding: 0 1em 0 1em;
}

#terminal-input {
    border: 1px solid #9E9E9E;  /* Grey 500 */

    width: 100%;
    padding: .4em;

    font-family: 'Open Sans', sans-serif;
    font-size: inherit;

    box-shadow: 0 5px 7px #BDBDBD;  /* Grey 400 */

    transition: box-shadow .15s;
}

#terminal-input:hover {
    box-shadow: 0 10px 14px #BDBDBD;  /* Grey 400 */
}

/* ********** BODY COMPONENT - CREDITS ********** */

#credits {
    display: flex;
    justify-content: center;
}