/** ********* OVERALL CANVAS ********* **/

#header-canvas {
    display: flex;
    justify-content: center;

    background: url("../img/binding_light.png");
}

#header-container {
    display: flex;

    margin: 10px;
    width: 768px;
    border-bottom: 2px solid #212121;
}

/** ********* HEADER CONTENT ********* **/

#header-title, #header-navs {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 5px 15px 5px 15px;
}

#header-title {
    flex-grow: 1;
}

#header-navs > * {
    flex-grow: 1;
}

@media only screen and (max-width: 576px) {  /* 512px is roughly when the header gets too tight */
    #header-title {
        display: none;
    }
    #header-navs {
        flex-grow: 1;
    }
}


.nav-btn-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-title .nav-btn-content {
    color: #1B5E20;
}

@media only screen and (max-width: 576px) {  /* 576px is roughly when 'binh nguyen' becomes 2 lines */
    .nav-btn-title {
        display: none;
    }
}

/** ********* NAV BUTTONS ********* **/

.nav-btn-link {
    margin: 0 10px 0 10px;
    padding: 5px;

    color: #212121;

    user-select: none;
}

.nav-btn-link:hover {
    /*color: #1565C0;  */

    /*text-shadow: 0 0 1px;*/
}

.nav-btn-link:active {
    /*color: #0D47A1;*/

    /*text-shadow: 0 0 1px;*/
}

.nav-btn-content {

}