/** ********* OVERALL CANVAS ********* **/

#header-canvas {
    display: flex;
    justify-content: center;

    background-color: #212121;  /* Gray 900 */
}

#header-container {
    display: flex;

    width: 768px;
}

#header-main, #header-side {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;

    padding: 5px 15px 5px 15px;

    font-size: 1.5em;
}

#header-side {
    justify-content: right;
}

#header-main *, #header-side * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/** ********* COMPONENTS ********* **/

.nav-btn-link {
    margin: 0 10px 0 10px;
    padding: 5px;

    color: #BDBDBD;  /* Gray 400 */

    user-select: none;
}

.nav-btn-link:hover {
    color: #FAFAFA;  /* Grey 50 */

    text-shadow: 1px 1px 2px;
}

.nav-btn-link:active {
    color: #FAFAFA;  /* Grey 50 */

    text-shadow: 0 0 2px;
}

.nav-btn-content {

}