/** ********* CONTROL PANEL MAIN ********* **/

.cp-canvas {
    display: flex;
    justify-content: center;

    margin: 10px;
}

.cp-bar {
    display: inline-flex;
    justify-content: center;

    min-width: 0;  /* Needed for transition as can't do 'auto' -> x */
    padding: 0 5px 0 5px;

    border-radius: 5px;

    background-color: #424242;  /* Grey 800 */

    transition: min-width 0.5s;
}

/** ********* CONTROL PANEL BUTTONS ********* **/

.cp-btn-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    text-align: center;
    color: #BDBDBD;  /* Grey 400 */

    cursor: pointer;
    user-select: none;
}

.cp-btn-container i {
    font-size: 1.5em;
}

.cp-btn-container svg {
    width: 1.5em; height: 1.5em;
}

.cp-btn-container path {
    fill: #BDBDBD;  /* Grey 400 */
}

.cp-btn-container.btn-msg:hover {
    color: #4CAF50;  /* Green 500 */
}

.cp-btn-container.btn-twitter:hover {}
.cp-btn-container.btn-twitter:hover path {
    fill: #1DA1F2;  /* Twitter */
}

.cp-btn-container.btn-help:hover {
    color: #AB47BC;  /* Purple 400 */
}

/** ********* CONTROL PANEL INPUTS ********* **/

.cp-inp-container {
    display: flex;
    align-items: center;

    width: 0;

    transition: 0.5s;
}

.cp-inp-container-max {
    width: 600px;
    padding: 5px;
}

.cp-inp-container-max .cp-inp {
    padding: 5px;
}

.cp-inp {
    width: 100%;
    border: none;
    padding: 0;

    border-radius: 2px;

    transition: 0.5s;
}

/** ********* MESSAGE BOARD ********* **/

.msgb-canvas {
    display: flex;

    margin: 10px;
    padding: 10px;
}

.msgb-msg-container {
    display: flex;

    border: 1px solid #4CAF50;  /* Green 500 */

    border-radius: 5px;

    background-color: #C8E6C9;  /* Green 100 */


}

.msgb-msg-container > * {
    padding: 5px;
}

.msgb-msg-icon-container {
    display: inline-flex;
    align-items: center;

    user-select: none;
}

.msgb-msg-icon-container * {
    font-size: 1.5em;
}

.msgb-msg-body-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.msgb-msg-body-container > * {
    width: 100%;

    padding: 1px;
}

.msgb-msg-subject {
    font-weight: bold;
    font-size: 0.8em;
}

.msgb-msg-message {
    font-size: 0.6em;

    text-align: justify;
}

.msgb-msg-timestamp {
    font-style: italic;
    font-size: 0.4em;

    text-align: right;
}

/** ********* HOMEPAGE BUTTONS ********* **/

.hbt-container {

}

.hbt-red { background-color: #f44336 }  /* Red 500 */
.hbt-green { background-color: #66BB6A }  /* Green 500 */
.hbt-blue { background-color: #2196F3 }  /* Blue 500 */
.hbt-amber { background-color: #FFC107 }  /* Amber 500 */