/** ********** HOME CANVAS ********** **/

#home-canvas {
    display: flex;
    justify-content: center;

    min-height: 100vh;

    background: url("../img/binding_light.png");

    font-family: 'Gentium Basic', serif;
}

#home-content-container {
    flex-grow: 1;

    max-width: 768px;
    padding: 10px;
}

/** ********** HOME INTRO ********** **/

#home-intro {
    margin: 10px 0 10px 0;

    font-size: 1.5em;

    text-align: justify;
}

#home-intro-s-1 {
    font-size: 1.2em;

    color: #1B5E20;
}