/* ********** GENERAL ********** */

* {
    /* Make padding and border included in the total width and height of elements */
    box-sizing: border-box;
}

body {
    margin: 0;

    /*font: 24px 'Open Sans', sans-serif;*/
    font: 24px 'Gentium Basic', serif;
}

a {
    color: #03A9F4; /* Light Blue 500 */
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

/* ********** HELPERS ********** */

.hidden { display: none; }
.hidden-vis { visibility: hidden; }
.hidden-op { opacity: 0; }
.shown-op { opacity: 1; }
.hidden-vis-op { visibility: hidden; opacity: 0; }

.block { display: block; }
.inline-block { display: inline-block; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.width-0 { width: 0; }
.width-100p { width: 100%; }
.min-width-100p { min-width: 100%; }

/* ********** RESPONSIVE WEB DESIGN ********** */

#root {
    /* Nothing will go below 280px wide */
    min-width: 280px;
}

/* Texts won't go smaller than 16px */
@media only screen and (max-width: 512px) {
    body {
        font-size: 16px;  /* 512px is the cut-off when our font stops shrinking. 512px = 16px / 3.125% */
    }
}

/* Texts won't go larger than body font size */
@media only screen and (max-width: 768px) and (min-width: 513px) {
    body {
        font-size: 3.125vw;  /* 3.125% = 24px (body font size) / 768px (limit width) */
    }
}