#login-canvas {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; height: 100%;
}

#login-container {
    width: 500px;
    padding: 10px;

    background-color: #81D4FA; /* Light Blue 200 */
}

#login-title {
    font-size: 120%;
}

#login-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.input-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text-container * {

}

.input-label > * {
    display: inline-block;

    margin: 5px;
}

.input-label-title {

}

.input-label-input {

}

.input-check {
    display: inline-block;

    margin: 5px;
}

.error-box {
    background-color: #F48FB1; /* Pink 200 */
}