#body-about {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1280px;
}

.info-box {
    position: absolute;
    top: 0; left: 0;

    width: 40rem;
    padding: 2rem 1rem;

    text-align: center;

    color: #fafafa;
    background-color: rgba(66,66,66 ,.33);
    border-radius: 5px;

    transform: translate(-50%, -50%);

    animation: slidein .2s;
}

@media (max-width: 711px) {
    /* 711px = (16px * 40 = 960px) / 90% */
    .info-box {
        width: 90vw;
    }
}

@keyframes slidein {
    0% {
        top: 25vh;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}