#index-footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: .5em;

    font: .75em 'Open Sans', sans-serif;
    color: #E0E0E0;
    text-align: center;
}

#index-footer a:hover {
    text-decoration: underline;
}
