/** **************************** **/
/** ********** HEADER ********** **/
/** **************************** **/

#index-header {
    position: absolute;
    top: 50%; transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    transition: top .2s, transform .2s;
}

#index-header.collapsed {
    position: fixed;
    top: 0; transform: translateY(0);
}

/** ***************************** **/
/** ********** NAV BAR ********** **/
/** ***************************** **/

#header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    width: 1280px;

    padding: .5em;
}

#header-navbar.collapsed .header-profile-pic {
    width: 2em; height: 2em;
}

@media only screen and (max-width: 1280px) {
    #header-navbar {
        flex-flow: column wrap;
        width: 100%;
    }

    #header-navbar.collapsed {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: .5em 1em .5em 1em;
    }

    #header-navbar.collapsed .nav-link {
        display: none;
    }

    #header-navbar.collapsed #header-navbar-menu-btn {
        display: block;
    }
}

#header-navbar > * {
    margin: .5em;
}

/** ********************************** **/
/** ********** SIDE NAV BAR ********** **/
/** ********************************** **/

#header-side-navbar {
    position: absolute;
    top: 0;

    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: column;

    margin: 4em 0 0 0;
    min-width: 50vw; height: 100vh;
    padding: 1em;

    background-color: inherit;
    opacity: .95;

    transition: right .2s;
}

/*@media only screen and (max-width: 1280px) {
    #header-side-navbar {
        display: flex;
    }
}*/

/** ************************************** **/
/** ********** OTHER COMPONENTS ********** **/
/** ************************************** **/

/** ***** PROFILE PIC ***** **/

.header-profile-pic {
    width: 6em; height: 6em;
    border-radius: 50%;
    box-shadow: 0 0 8px #F5F5F5;
    transition: width .2s, height .2s;
}

.header-profile-pic:hover {
    box-shadow: 0 0 11px #F5F5F5;
}

@media only screen and (max-width: 1280px) {
    .header-profile-pic {
        /*flex-grow: 0;*/
        /*width: 2em; height: 2em;*/
    }
}

/** ***** SITE TITLE ***** **/

#header-title > * {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #fafafa;  /* Grey 50 */
}

@media only screen and (max-width: 1280px) {
    #header-title {
        flex-grow: 1;
    }
}

/** ***** NAV BAR MENU BUTTON ***** **/

#header-navbar-menu-btn {
    display: none;
    color: #fafafa;
    cursor: pointer;
    user-select: none;
}

/*@media only screen and (max-width: 1280px) {
    #header-navbar-menu-btn {
        display: block;
        flex-grow: 0;
    }
}*/

/** ***** NAV LINKS ***** **/

.nav-link {
    flex: 1 1 0;
    padding: .25em;
    text-align: center;
}

/*@media only screen and (max-width: 1280px) {
    .nav-link {
        flex: 0 1 auto;
        width: 100%;
        margin: .5em 0 .5em 0;
        text-align: right;
    }
}*/

.nav-link a {
    display: block;
    color: #fafafa;
    font-size: 2em;
    text-shadow: 0 0 5px #F5F5F5;
}

.nav-link:hover a {
    text-decoration: underline;
    text-shadow: 0 0 8px #F5F5F5;
}
