/** **************************** **/
/** ********** HEADER ********** **/
/** **************************** **/

#index-header {
    position: absolute;
    top: 50%; transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    transition: top .2s, transform .2s;
}

#index-header.collapsed {
    position: fixed;
    top: 0; transform: translateY(0);
}

/** ***************************** **/
/** ********** NAV BAR ********** **/
/** ***************************** **/

#header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    width: 1280px;

    padding: .5em;
}

#header-navbar.collapsed #header-profile-pic {
    width: 1em; height: 1em;
}

@media only screen and (max-width: 853px) {
    #header-navbar {
        flex-flow: column wrap;
        width: 100%;
    }

    #header-navbar.collapsed {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: .5em 1em .5em 1em;
    }

    #header-navbar.collapsed .nav-link:not(#header-profile-pic-container) {
        display: none;
    }

    #header-navbar.collapsed #header-navbar-menu-btn {
        display: block;
    }

    #header-navbar.collapsed #header-profile-pic-container {
        flex: 0 1 auto;
    }
}

#header-navbar > * {
    margin: .5em;
}

/** ********************************** **/
/** ********** SIDE NAV BAR ********** **/
/** ********************************** **/

#header-side-navbar {
    position: fixed;
    top: 0;

    display: none;  /* This is only shown when window size is small and the menu button is clicked */
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: 100vw;
    margin: 4em 0 0 0;  /* The margin-top is to compensate for <Header />'s height */
    padding: 1em;

    /*background-color: rgba(33,33,33 ,.9);*/
    /*transition: top .2s;*/
}

@media only screen and (max-width: 853px) {
    #header-side-navbar.shown {
        display: flex;
    }
}

/** ************************************** **/
/** ********** OTHER COMPONENTS ********** **/
/** ************************************** **/

/** ***** PROFILE PIC ***** **/

#header-profile-pic {
    display: block;
    width: 3em; height: 3em;
    border-radius: 50%;
    box-shadow: 0 0 8px #F5F5F5;
    transition: width .2s, height .2s;
}

#header-profile-pic:hover {
    box-shadow: 0 0 11px #F5F5F5;
}

@media only screen and (max-width: 1280px) {
    #header-profile-pic {
        /*flex-grow: 0;*/
        /*width: 2em; height: 2em;*/
    }
}

/** ***** NAV BAR MENU BUTTON ***** **/

#header-navbar-menu-btn {
    display: none;  /* This is only shown when window size is small */
    cursor: pointer;
    user-select: none;
}

#header-navbar-menu-btn i {
    color: #E0E0E0;
    font-size: 2em;
    text-shadow: 0 0 2px #E0E0E0;
}

#header-navbar-menu-btn i:hover {
    color: #fafafa;
    text-shadow: 0 0 5px #F5F5F5;
}

/** ***** NAV LINKS ***** **/

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 0;
    padding: .25em;
    text-align: center;
}

.nav-link a {
    display: block;
    color: #E0E0E0;
    font-size: 2em;
    text-shadow: 0 0 5px #E0E0E0;
}

.nav-link:hover a {
    color: #fafafa;
    text-shadow: 0 0 8px #fafafa;
}

/** ***** SITE TITLE ***** **/

/*#header-title > * {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #fafafa;  !* Grey 50 *!
}

@media only screen and (max-width: 1280px) {
    #header-title {
        flex-grow: 1;
    }
}*/

/*@media only screen and (max-width: 1280px) {
    #header-navbar-menu-btn {
        display: block;
        flex-grow: 0;
    }
}*/
