/** ********** HEADER COMPONENT ********** **/

#index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    padding: 1em;

    background-color: #212121;  /* Grey 900 */
}

#index-header > * {
    margin: .5em 0 .5em 0;
}

@media only screen and (max-width: 800px) {
    #index-header {
        flex-flow: row;
        padding: .5em;
    }

    #index-header > * {
        margin: .25em 0 .25em 0;
    }
}

/** ***** PROFILE PIC ***** **/

.header-profile-pic {
    width: 6em; height: 6em;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .header-profile-pic {
        width: 2em; height: 2em;
    }
}

/** ***** TITLE ***** **/

.header-title > * {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #fafafa;  /* Grey 50 */
}