#landing {

}

#landing img {
    width: 5rem;
    height: 5rem;
    border: 1px solid #9E9E9E;  /* Grey 500 */

    border-radius: 50%;

    box-shadow: 0 0 10px #9E9E9E;  /* Grey 500 */

    transition: box-shadow .25s;
}

#landing img:hover {
    box-shadow: 0 0 20px #9E9E9E;  /* Grey 500 */
}

#landing-desc {
    margin-top: 1rem;
    text-align: center;
}

#landing-desc a:hover {
    text-decoration: underline;
}

#landing-desc-sitecreation {
    font-size: .8rem;
}

#landing-desc-footnote {
    font-size: .5rem;
}
