/** ********** NAV BAR ********** **/

#header-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav bar's max width is 1280px */
@media only screen and (max-width: 1280px) {
    #header-nav-bar {
        width: 100%;
    }
}

/* Nav bar's max width is 1280px */
@media only screen and (min-width: 1281px) {
    #header-nav-bar {
        width: 1280px;
    }
}

/* Nav is laid out as a column when screen is small */
@media only screen and (max-width: 800px) {
    #header-nav-bar {
        flex-flow: column wrap;
    }
}

/** ********** NAV LINKS ********** **/

.nav-link {
    flex: 1 1 0;
    text-align: center;
}

#header-nav-bar a {
    padding: .25em;
    font-size: 1.5em;
}

#header-nav-bar a:hover {
    border-bottom: 2px solid #03A9F4;  /* Light Blue 500 */
}
