#header-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav is laid out as a column when screen is small */
@media only screen and (max-width: 800px) {
    #header-nav-bar {
        flex-flow: column wrap;
    }
}

#header-nav-bar a {
    flex: 1 1 0;
    font-size: 1.5em;
    text-align: center;
}