/** ********** PROJECT BOX ********** **/

.pb {
    margin: 1em;
}

.pb-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7.5em; height: 7.5em;

    padding: 1em;

    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}

@media only screen and (max-width: 512px) {
    .pb {
        margin: .25em;
    }

    .pb-container {
        min-width: 5em; min-height: 5em;
        padding: .5em;
        border-radius: 2px;
    }
}

.pb-container:focus {
    outline: none;
}

.pb-container.no-content {
    color: #BDBDBD;
    cursor: not-allowed;
}

/** ********** CONTENT ********** **/

/** ***** CONTENT - MINIMISED ***** **/

.pb-content-min {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;

    transition: .2s;
}

/** ***** CONTENT - LIGHTBOX ***** **/

/** Container = grey background area **/

.pb-lightbox-container {
    position: fixed;
    top: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw; height: 100vh;

    padding: 2em;

    background-color: rgba(33, 33, 33, .8);

    user-select: text;
    cursor: auto;
}

@media only screen and (max-width: 512px) {
    .pb-lightbox-container {
        padding: 1em;
    }
}

/** Actual content box **/

.pb-lightbox {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    max-width: 25em;
    padding: 1em;

    border-radius: 10px;
}

.pb-lightbox > * {
    margin: .5em;
    text-align: center;
}

/** Close button **/

.pb-lightbox-close-btn {
    position: absolute;
    top: 0; right: 0;
    user-select: none;
    cursor: pointer;
}

.pb-lightbox-close-btn * {
    font-size: 1.5em;
}

/** Title **/

.pb-lightbox-title {
    margin-top: 2.5em;
}

.pb-lightbox-title-text {
    font-size: 2.5em;
}

/** Project link **/

.pb-lightbox-link {
    max-width: 100%;
    padding: .5em;
    border-radius: 5px;

    background-color: #424242;

    color: #fafafa;

    word-wrap: break-word;
    word-break: break-word;
}

.pb-lightbox-link:hover {
    background-color: #F5F5F5;
    color: #212121;
}
