.pb {
    margin: 1em;
}

.pb-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 10em; min-width: 10em;
    padding: 1em;

    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}

.pb-container.no-content {
    color: #BDBDBD;
    cursor: not-allowed;
}

/* Inside container */

.pb-content, .pb-content-min {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    transition: .2s;
}

.pb-content-min {
    font-size: 3em;
}

.pb-content-min.active {

}

.pb-content > * {
    margin: .5em 0 .5em 0;
    text-align: center;
}

/* Inside content */

.pb-title {

}

.pb-title-text {
    font-size: 3em;
}

.pb-description {

}

